
<div class="form form-block">
	<form name="updatePasswordForm"
			#update_password_form="ngForm"
			(ngSubmit)="updatePassword(update_password_form)"
			novalidate>
		<div class="form-vertical-item-group">

			<div class="form-item form-group-first-item" magicFormItem>
				<label for="old_password">
					Old Password
				</label>
				<input 
				type="password"
				id="old_password"
				name="old_password"
				class="text-input"
				placeholder="Old Password"
				[(ngModel)]="oldPassword"
				#old_password="ngModel"
				required
				>
				
			</div><!-- .form-item -->
			
			<div class="form-item form-group-last-item" magicFormItem>
				<label for="new_password">
					New Password
				</label>
				<input 
				type="password"
				id="new_password"
				name="new_password"
				class="text-input"
				placeholder="New Password"
				[(ngModel)]="newPassword"
				#new_password="ngModel"
				required
				password
				>
				
			</div><!-- .form-item -->

			<div class="form-item form-group-last-item" magicFormItem>
				<label for="new_password_verify">
					Confirm New Password
				</label>
				<input 
				type="password"
				id="new_password_verify"
				name="new_password_verify"
				class="text-input"
				placeholder="Confirm New Password"
				[(ngModel)]="newPasswordVerify"
				#new_password_verify="ngModel"
				required
				passwordmatch="new_password"
				>
				
			</div><!-- .form-item -->

		</div><!-- .form-vertical-item-group -->

		<validation-messages
			[model]="old_password"
			[messages]="{
				required: 'Please enter your old password'}">
		</validation-messages>
		<validation-messages
			[model]="new_password"
			[messages]="{
				password: 'Password must be at least 8 characters long'}">
		</validation-messages>
		<validation-messages
			[model]="new_password_verify"
			[messages]="{
				passwordmatch: 'New passwords must match'}">
		</validation-messages>

		<div *ngIf="isServerError" class="color-danger form-item">
			{{ serverError }}
		</div>

		<button 
		[disabled]="update_password_form.invalid"
		class="form-item button button-success"
		type="submit"
		>
			Update Password
		</button>
		<div class="column-xs column-padded form-block">
			<button class="button button-default" (click)="cancel(); update_password_form.reset()">Cancel</button>
		</div>
	</form>
</div><!-- .form -->
