<div class="row">
	<div class="input-group">
		<input 	type="text"
				id="user_email"
				class="form-control"
				placeholder="Email"
				[(ngModel)]="user.email" />
		<br />
		<input 	type="password"
				id="user_password"
				class="form-control"
				placeholder="Password"
				[(ngModel)]="user.password" />
		<span class="input-group-btn">
			<button (click)="authenticateUser()"
					[disabled]="!user.password || !user.email"
					class="btn btn-default"
					type="button">
				<!--<span class="glyphicon glyphicon-chevron-right"></span> -->
				Login
			</button>
		</span>
	</div>
</div>