<div class="page-center">

		<div class="card-sm">

			<header class="card-header">
				<h1 class="card-header-text">Log in</h1>
				<ul class="nav card-header-nav" role="navigation">
					<a routerLink="/">
						<li class="nav-item card-header-nav-item">
							<span>Sign up </span><i class="fa fa-chevron-right" aria-hidden="true"></i>
						</li>
					</a>
				</ul>
			</header><!-- .card-header -->

			<section class="card-content">
				<div class="form form-block">

					<div class="form-vertical-item-group">
						<div class="form-item form-group-first-item" magicFormItem>
							<label for="user_email">
								Email
							</label>
							<input  
							 type="text"
							 id="user_email"
							 class="text-input"
							 placeholder="email@example.com"
							 [(ngModel)]="user.email"
							 focusOnLoad
							>
						</div><!-- .form-item -->

						<div class="form-item form-group-last-item" magicFormItem>
							<label for="user_password">
								Password
							</label>
							<input 
							 type="password"
							 id="user_password"
							 class="text-input"
							 placeholder="Password"
							 [(ngModel)]="user.password"
							>
						</div><!-- .form-item -->
					</div><!-- .form-vertical-item-group -->

					<button 
					 (click)="authenticateUser()" [disabled]="!user.password || !user.email"
					 class="form-item button button-main"
					 type="button"
					>
						Log in
					</button>

				</div><!-- .form -->
			</section><!-- .card-content -->
		</div><!-- .card-sm -->

</div><!-- .login-container -->