<div class="form">
	<form name="borrowForm"
		  #borrow_form="ngForm"
		  (ngSubmit)="completeBorrow(borrow_form)"
		  novalidate>

		<div class="form-item form-block" magicFormItem>
			<label for="from_user">
				From
			</label>
			<input 
			type="text"
			id="from_user"
			name="from_user"
			class="text-input"
			placeholder="friend@example.com"
			[(ngModel)]="fromUser"
			#from_user="ngModel"
			required
			email
			>
			<validation-messages
			[model]="from_user"
			[messages]="{
				email: 'Please enter a valid email'}"
			>
			</validation-messages>
		</div><!-- .form-item -->

		<div class="form-item form-block" magicFormItem>
			<label for="borrow_amount">
				Amount
			</label>
			<input type="text"
			id="borrow_amount"
			name="borrow_amount"
			class="text-input"
			placeholder="$0.00"
			[(ngModel)]="amount"
			#borrow_amount="ngModel"
			required
			currency
			>
			<validation-messages
			[model]="borrow_amount"
			[messages]="{
				currency: 'Please enter a valid quantity'}"
			>
			</validation-messages>
		</div><!-- .form-item -->

		<div class="form-item form-block">
			<label for="category">
				Category
			</label>
			<select class="lend-category"
					id="category"
					name="category"
					[(ngModel)]="newLoan.category"
					#category="ngModel"
					required>
				<option></option>
				<option *ngFor="let category of categories"
						[value]="category.id">
					{{ category.name }}
				</option>
			</select>
			<validation-messages
				[model]="category"
				[messages]="{
					required: 'Please select a category'}">
			</validation-messages>
		</div><!-- .form-item -->

		<div *ngIf="isError" class="color-danger form-item">
			{{ errorString }}
		</div>
		
		<div class="row row-padded">
			<div class="column-xs column-padded form-block">
				<button 
				class="button button-primary"
				type="submit"
				[disabled]="borrow_form.invalid"
				>
					Borrow
				</button>
			</div><!-- .column-xs -->
			<div class="column-xs column-padded form-block">
				<button 
				class="button button-default"
				(click)="cancel(); borrow_form.reset()"
				>
					Cancel
				</button>
			</div><!-- .column-xs -->
		</div><!-- .row -->
	</form>
</div>