Borrow Form
<div class="lend-form">
	<div>
		<label for="from_user">
			From user
		</label>
		<input type="text"
			id="from_user"
			class="borrow-from-user"
			[(ngModel)]="fromUser" />
	</div>
	<div>
		<label for="amount">
			Amount
		</label>
		<input type="number"
			id="amount"
			class="borrow-amount"
			[(ngModel)]="amount" />
	</div>
	<div>
		<label for="category">
			Category
		</label>
		<select class="lend-category"
				id="category"
				[(ngModel)]="newLoan.category">
			<option></option>
			<option *ngFor="let category of categories"
					[value]="category.identifier">
				{{ category.name }}
			</option>
		</select>
	</div>
	<br />
	<button class="btn-lend"
			(click)="completeBorrow()">
		Borrow
	</button>
	<!--<button class="btn-cancel"
			(click)="cancel()">
		Cancel
	</button>-->
</div>