<div class="page-center">
	<section id="dashboard" class="card-md">
		<div class="row-sm">
			<div class="column">
				<div class="currency-view big-currency-view">
					<span class="currency-symbol">$</span><span class="currency-integer">10</span><span class="currency-decimal-mark">.</span><span class="currency-fraction">62</span>
				</div>
			</div><!-- .column -->
			<div class="column">
				<div class="currency-view big-currency-view">
					<span class="currency-symbol">$</span><span class="currency-integer">83</span><span class="currency-decimal-mark">.</span><span class="currency-fraction">27</span>
				</div>
			</div><!-- .column -->
		</div>
	</section><!-- .dashboard -->
</div><!-- .dashboard-container -->