
$caption-color: rgba(0,0,0,0.7);

.big-numbers-section {
	background: $uomi-green;
	color: #fff;
}

.big-currency-view {

	font-size: 2.5rem;

	@include breakpoint-up(sm) {
		font-size: 3.5rem;
	}

	@include breakpoint-up(md) {
		font-size: 4rem;
	}

	.currency-symbol, .currency-fraction {
		font-size: 40%;
		vertical-align: super;
	}

	.currency-fraction {
		padding-left: 0.15em;
	}

	.currency-decimal-mark {
		@extend .feature--expose-to-screen-reader;
	}
}

.currency-main {
	padding: 0 1rem;
	margin: 1rem 0 0.5rem;

	text-align: center;

	.currency-integer {
		font-weight: 300;
	}
}

.currency-caption {
	padding: 0 1rem;
	margin: 0.5rem 0 1rem;

	font-size: 1.2rem;
	text-transform: uppercase;
	text-align: center;
}

.profile-picture {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	vertical-align: middle;
}

.loan-table {
	@include breakpoint-up(md) {
		padding: 0 2rem;
	}
}

.loan-amount {
	font-size: 1.1rem;
}

.amount-credit {
	color: $success-color;
}

.amount-debt {
	color: $danger-color;
}

.loan-table-dropdown-button {
	color: rgba(0,0,0,0.5);
}

.loan-category-label {
	position: relative;
	white-space: nowrap;
}

@mixin category-label-style($color) {
	.loan-category-icon {
		background: $color;
	}
	.loan-category-name {
		color: $color;
		text-transform: uppercase;
		font-size: 0.9rem;
	}
}

.loan-category-name {
	display: inline-block;
	margin-left: 0.5rem;

	opacity: 0;
	transform: rotateX(90deg);
	transform-origin: 0 0 -5px;
	perspective: 600px;

	transition-duration: 0.3s;
	transition-property: opacity, transform;
	transition-timing-function: ease;

	.loan-category-label:hover & {
		opacity: 1;
		transform: rotateX(0);
	}
}

.loan-category-icon {
	width: 2.5rem;
	border-radius: 1.2rem;
	padding: 0.5rem;
	text-align: center;
	color: white;
}

.category-food {
	@include category-label-style(#CC3FC6);
}

.category-bills {
	@include category-label-style(#537FCC);
}

.category-entertainment {
	@include category-label-style(#CC3C3C);
}