
// FONTS

$font-stack:          'Lato', sans-serif;


// COLORS

$site-background:      hsla(0,0%,95%,1);

$global-divider-color: rgba(0,0,0,0.3);
$uomi-green:           rgb(25,169,29);
$uomi-dark-green:	   darken($uomi-green, 20%);