$header-background: white;

.page-header {
	width: 100%;
	height: 50px;
	padding: 5px 0;
	background: $header-background;
}

.page-header-contents {
	@extend .feature--max-width-xl;
	@extend .feature--horizontally-centered;
	height: 100%;
}

.page-header-brand {
	text-align: center;
	height: 100%;
	
	img {
		max-height: 100%;
	}
}