@import 'globals';      // mostly colors and font stacks

@import 'mixins';       // functions for convenience

@import 'animation';

@import 'features';     // classes that implement common layout behavior,
						// meant to be "@extend"-ed rather than used directly

@import 'reset';        // Direct CSS rules begin here. Resets stylesheet to
						// sane, cross-platform defaults.

@import 'general';      // rules that apply to all elements or the page.

@import 'table';		// opt-in table styles

@import 'columns';		// minimal flexbox based column system

@import 'layout';		// affect the layout of the body

@import 'forms';        // opt-in rules for form elements.

@import 'dashboard';

@import 'homepage';

@import 'modal';

// must come last
@import 'breakpoints';  // classes that hide or show in certain breakpoint
						// ranges.