<div class="form">
	<form name="settingsForm"
		  #settings_form="ngForm"
		  *ngIf="settings"
		  (ngSubmit)="updateSettings()"
		  novalidate>

		<div class="form-item form-block">
			<input
			type="checkbox"
			id="allow_notifications"
			name="allow_notifications"
			[(ngModel)]="_allow_notifications"
			#allow_notifications="ngModel"
			>
			<label for="allow_notifications">
				Allow Notifications
			</label>
		</div><!-- .form-item -->

		<div class="form-item form-block">
			<input
			type="checkbox"
			id="borrow_requests"
			name="borrow_requests"
			[(ngModel)]="_borrow_requests"
			#borrow_requests="ngModel"
			>
			<label for="borrow_requests">
				Borrow Requests
			</label>
		</div><!-- .form-item -->

		<div class="form-item form-block">
			<input
			type="checkbox"
			id="payback_reminders"
			name="payback_reminders"
			[(ngModel)]="_payback_reminders"
			#payback_reminders="ngModel"
			>
			<label for="payback_reminders">
				Payback Reminders
			</label>
		</div><!-- .form-item -->

		<div class="form-item form-block">
			<input
			type="checkbox"
			id="view_email"
			name="view_email"
			[(ngModel)]="_view_email"
			#view_email="ngModel" 
			>
			<label for="view_email">
				Allow email use in search
			</label>
		</div><!-- .form-item -->

		<div class="row row-padded">
			<div class="column-xs column-padded form-block">
				<button 
				class="button button-primary"
				type="submit"
				[disabled]="settings_form.invalid"
				>
					Update Settings
				</button>
			</div>
			<div class="column-xs column-padded form-block">
				<button 
				class="button button-default" (click)="cancel()"
				>
					Cancel
				</button>
			</div>
		</div><!-- .row -->
	</form>
</div><!-- .form -->